@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: overpass, 'sans-serif';
  line-height: 1.5;
}

body {
  background-color: #121417;
  position: relative;
  height: 100vh;
}

@media screen and (min-width: 400px) {
  .container,
  .after-submit-container {
    padding: 30px 40px !important;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  max-width: 380px;
  height: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #1d232b;
  padding: 24px 20px;
  border-radius: 16px;
}

.container .star {
  padding: 14px;
  background-color: #252d37;
  border-radius: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 24px;
}

.container h1 {
  color: white;
  font-size: 26px;
  margin-bottom: 16px;
}

.container p {
  color: #959eac;
  margin-bottom: 28px;
}

.container .rating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.container .rating-wrapper .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  background-color: #252d37;
  color: #959eac;
  border-radius: 100px;
  cursor: pointer;
}

.container .rating-wrapper .rating:hover {
  background-color: #959eac;
  color: white;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.container .rating-wrapper .rating:focus {
  background-color: #fb7413;
  color: white;
}

.container button {
  width: 100%;
  padding: 16px 0;
  background-color: #fb7413;
  border: none;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  cursor: pointer;
}

.container button:hover {
  background-color: white;
  color: #fb7413;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.after-submit-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 380px;
  height: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #1d232b;
  padding: 24px 20px;
  border-radius: 16px;
  text-align: center;
}

.after-submit-container img {
  width: 150px;
  margin-bottom: 28px;
  margin-top: 10px;
}

.after-submit-container .selected-rating {
  padding: 10px 16px 8px 16px;
  background-color: #252d37;
  border-radius: 20px;
  margin-bottom: 28px;
  color: #fb7413;
}

.after-submit-container h2 {
  color: white;
  font-size: 26px;
  margin-bottom: 16px;
}

.after-submit-container p:nth-of-type(2) {
  color: #959eac;
  margin-bottom: 10px;
}

.attribution {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: white;
  font-size: 11px;
}
/*# sourceMappingURL=style.css.map */